spawn-at-startup "/home/bill88t/git/dotfiles/waymount.sh"

output "eDP-1" {
    scale 1.25
    position x=0 y=0
}

output "DP-1" {
    position x=0 y=-1080
}

output "DP-2" {
    position x=0 y=-1080
}

output "DP-3" {
    position x=0 y=-1080
}

output "DP-4" {
    position x=0 y=-1080
}

overview {
    backdrop-color "#667599"
}

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

binds {
    Mod+P { spawn "/home/bill88t/git/dotfiles/fw12cycle.sh"; }
    Mod+L { spawn "swaylock" "--image" "/home/bill88t/Pictures/wallpapers/desktop/Danger-dont-touch.jpg" "--font" "Inter" "-e"; }
}

input {
    touchpad {
        natural-scroll
        scroll-method "two-finger"
        click-method "button-areas"
    }

    tablet {
        map-to-output "eDP-1"
    }
}


layout {
    focus-ring {
        width 3
        active-color "#E67919"
        inactive-color "#505050"
    }

    tab-indicator {
        on
        place-within-column
        gap 1
        width 6
        length total-proportion=0.5
        position "bottom"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#E67919"
        inactive-color "#000000"
        urgent-color "red"
    }
}
