spawn-at-startup "/home/bill88t/git/dotfiles/waymount.sh"

output "eDP-1" {
    scale 1.25
    position x=0 y=1080
}

output "DP-1" {
    position x=0 y=0
}

output "DP-2" {
    position x=0 y=0
}

output "DP-3" {
    position x=0 y=0
}

output "DP-4" {
    position x=0 y=0
}

overview {
    backdrop-color "#777777"
}

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

binds {
    Mod+P { spawn "/home/bill88t/git/dotfiles/fw12cycle.sh"; }
    Mod+L { spawn "swaylock" "--image" "/home/bill88t/Pictures/wallpapers/desktop/8ff29d592ce601b777bae99da9f0a928992c6c9c.png" "--font" "Inter"; }
}

input {
    touchpad {
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
        click-method "button-areas"
    }

    tablet {
        map-to-output "eDP-1"
    }
}
