spawn-at-startup "/home/bill88t/git/dotfiles/waymount.sh"

output "eDP-1" {
    scale 1.25
}

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

binds {
    Mod+P { spawn "/home/bill88t/git/dotfiles/fw12cycle.sh"; }
    Mod+L { spawn "swaylock" "--image" "/home/bill88t/Pictures/wallpapers/desktop/forest_autumn_fog_123115_1920x1200.jpg" "--font" "Inter"; }
}

input {
    touchpad {
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
        click-method "button-areas"
    }
}
