binds {
    Mod+L { spawn "swaylock" "--image" "/home/bill88t/Pictures/wallpapers/desktop/1024071.jpg" "--font" "Inter" "-e"; }
}

layout {
    focus-ring {
        width 3

        active-color "#d92020"
        inactive-color "#505050"
    }
}
